a{
  text-decoration:none;
}
.li{
float:left;
 padding:1em;

font-size: 13px;
font-weight: 900;
line-height: 15px;
letter-spacing: 1px;
text-align: left;

}



.sitenav-item{
  margin-right: 32px;
}
.hhr{
  padding:1em;
  list-style:hidden;
  background-color: rgba(255, 117, 0, 1);
 width: 130px;
 height: 12px;
 margin-left:400px;
 border-radius:4px;
 list-style-type: none;
 padding:12px 24px 12px 24px;
font-weight:600;
}

.img{
  float:left;
  margin-left: 20px;
  margin-top:0px;
  list-style-type: none;
  width:227px;
  height: 59px;

}
.hero{
  background-color:#252420;
  border:2px solid #252420;
  width: 1440px;
  height: 488px;
  margin-top:40px;
  margin-bottom:600px;
  color:white;

position:absolute;

}
.hero-content{
  width: 387px;
  height: 328px;
  left:170px;
  top:177px;
  object-fit:center;
  margin-left:5em;
}
.hero-line{
  background: rgba(255, 117, 0, 1);
  width: 80px;
  height: 3px;
  top: 0;
  left: 0;
  position:absolute;
  margin-left: 5em;
  margin-top:5em;
}
.hero-heading{
width: 339px;
height: 96px;
top: 43px;
font-family:condensed;
font-weight: 700;
font-size:35px;
margin-top: 4em;
line-height: 48px;
letter-spacing: 0.5px;

}
.hero-text{
width: 387px;
height: 96px;
top: 163px;
font-weight: 400;
font-size:16px;
line-height:24px;
letter-spacing:1px;
}
.primary-button{
background-color:rgba(255, 117, 0,1);
  width: 152px;
  height:39px;
  top:291px;
  border:1px solid rgba(255, 117, 0,1);
  border-radius:4px;
  padding:12px, 24px,12px,24px;
  text-decoration:none;

}
.python-book{
  width: 510px;
  height: 510px;
 left:760px;
 top: 50px;
 position:absolute;
border:1px solid white;
border-style: hidden;
border-radius:15px;
}

.features-tittle{
width: 435px;
height: 172px;
margin-left: 170px;
font-weight:700;
font-size:72px;
line-height: 86.4px;
letter-spacing:0.5px;

}
.hero-lined{
  width:80px;
 margin-top:600px;
  border: 2px solid orange;
  margin-left:170px;
  background-color: rgba(255, 117, 0, 1);
 height: 3px;
}
.feature-itema{
  width: 340px;
  height: 245px;
  gap:32px;
float:left;
margin:3em;

}
.feature-item{
width: 340px;
height: 245px;
float:left;
gap:32px;
margin:2.5em;
}
.sale-bg{
  background-color: rgba(37, 36, 32, 1);
  border:2px solid red;
width: 1100px;
height: 419px;
margin-top:350px;
margin-left:170px;

  ;
}
.sale-heading{
  width: 500px;
  height: 96px;
  margin-top:80px;
  margin-left:100px;
  font-weight:700;
  font-size:40px;
  line-height:48px;
  letter-spacing:0.5px;
  color:white;
}
.sale-info{
  color:white;
  width: 440px;
  height: 108px;
  margin-left:100px;
}
strong{
  color:orange;
  font-weight:700;
  font-size:16px;
  letter-spacing:0.5px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
line-height:24px;

}
.sale-image{
  height: 440px;
  width: 440px;
  margin-left: 600px;
  margin-top: -450px;
  border-radius: 12px;

}
.sale-div{
  width: 50%;
  height: 291px;

}
.primary-buttona{

    background-color:rgba(255, 117, 0,1);
      width: 152px;
      height:29px;
      top:291px;
      border:1px solid rgba(255, 117, 0 ,1);
      border-radius:4px;
      padding:12px, 24px,12px,24px;
      text-decoration:none;
      margin-left:100px;
      text-align:center;
      position:center;
      font-size:20px;
    }
    .top-hero{
      border:solid 5px orange;
      width:1415px;
    }
.site-footer{
width: 1440px;
height: 507px;
background-color: #F8F8F8;

}
.frame-two{
  width: 227px;
  height: 60px;
}
.svg{
  float:left;
 margin-top:110px;
  height: 60px;
width: 227.70968627929688px;
margin-left: 155px;

border-radius: 0px;

}
.socials{
margin-left:1100px;
}
.link-category-1{
  float:left;
  width:200px;
  margin:2em;
}
.link-category-2{
  float:left;
  width:200px;
  margin-left:8em;
}
.hero-nav{
  width: 610px;
  height: 39px;
  top: 10.09em;
  margin-left:600px;
  text-decoration:none;

  list-style-type:none;
}
.header{
  margin-top:40px;
  margin-bottom:10px;
}